.signed-left-sidebar-wrapper {
    width: 20%;
    background-color: #2f343d;
    min-height: -webkit-fill-available;
}

.signed-left-sidebar-header {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.left-sidebar-control {
    color: #9a9ea4;
    font-size: 1.15em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.left-sidebar-control-icons {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-inline: 0.25rem;
}

.left-sidebar-divider {
    margin-block-start: -0.125rem!important;
    margin-block-end: 0px!important;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: .0625rem solid rgb(31 35 41 / 40%);
}

.create-menu-icons {
    margin-right: 0.70rem;
}