.create-channel-wrapper {
  justify-content: center;
  display: flex;
}

.create-dialog-description {
  color: #8e9299;
}

.repository-autocomplete {
  width: 80%;
}

.create-button {
  margin-bottom: 10px;
}
