.create-channel-wrapper {
  justify-content: center;
  display: flex;
}

.create-dialog-description {
  margin-top: 0px;
  color: #8e9299;
}

.create-button {
  margin-bottom: 10px !important;
}

.form-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control-label {
  margin-right: 0px !important;
}

.repository-select-label {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.install-github-app-link {
  color: inherit;
  text-decoration: underline;
}
