.home-wrapper {
  width: 100%;
  padding: 20px 20px 20px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-y: auto;
}

.powered-by-title {
  text-decoration: none;
  color: hsl(240, 6%, 17%);
}

.powered-by-title:hover {
  text-decoration: underline;
}

.unsigned-home-heading {
  color: hsl(240, 6%, 17%);
  margin: 20px 0;
  font-weight: 200;
}

.unsigned-home-text {
  color: hsl(240, 5%, 36%);
  max-width: 520px;
  margin: auto;
}

.unsigned-home-header {
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-stats-container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #29292e;
  background-color: #e0e0e01a;
  border-radius: 100px;
  height: 170px;
  width: 170px;
  margin: 10px;
  box-shadow: 0px 8px 12px -7px #a9a6a6fc;
}

.stat-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 15px;
}

.stat-number {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: 500;
}

.stat-label {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-icon-explore-desc {
  vertical-align: bottom;
}

.community-home-img {
  margin: 0 10px 10px;
  width: 500px;
}

.signed-home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signed-home-header {
  margin-bottom: 50px;
}

.signed-home-header p {
  font-size: 0.9em;
  line-height: 27px;
  color: #252525;
}

.signed-home-shortcut-container {
  margin-bottom: 50px;
}

.signed-home-shortcut-container h5 {
  font-size: 0.9em;
}

.signed-home-shortcut {
  background-color: #e3e9fe66;
  padding: 14px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signed-home-shortcut:hover {
  background-color: #dae0f7b0;
}

.shortcut-icon-small {
  width: 1.5em;
  height: 1.5em;
  margin-right: 7px;
}

.shortcut-icon-medium {
  width: 1.7em;
  height: 1.7em;
  margin-right: 5px;
}

.select-role-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #ee4a5b;
}

.select-role-button:hover {
  border: 5px solid #2f343d;
  cursor: pointer;
}
