.signed-left-sidebar-wrapper {
  width: 20%;
  background-color: #2f343d;
}

.signed-left-sidebar-header {
  padding: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.left-sidebar-user-avatar {
  width: 1.5em;
  cursor: pointer;
}

.left-sidebar-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 62%;
}

.left-sidebar-control-icons {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 1.7em;
  height: 1.7em;
  font-size: 1.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9a9ea4;
}

.left-sidebar-control-icons:hover {
  background-color: #1f2329;
}

.left-sidebar-divider {
  margin-block-start: -0.125rem !important;
  margin-block-end: 0px !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0.0625rem solid rgb(31 35 41 / 40%);
}

.create-menu-icons {
  margin-right: 0.7rem;
}

.signed-left-sidebar-body {
  overflow: hidden scroll;
  height: 82%;
}

.signed-left-sidebar-footer {
  height: min-content;
  background-color: inherit;
}

.left-sidebar-footer-logo {
  width: 75%;
  height: 3.7rem;
}

.signed-left-sidebar-body::-webkit-scrollbar {
  width: 10px;
}

.signed-left-sidebar-body::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%);
}

.signed-left-sidebar-body::-webkit-scrollbar-thumb {
  background: rgb(24 27 31);
  border-radius: 2em;
}

.signed-left-sidebar-body::-webkit-scrollbar-thumb {
  background: #000;
}

.code-copy-icon-div {
  display: flex;
  justify-content: flex-end;
}

.code-copy-icon:hover {
  color: #9a9ea4;
}

.profile-wrapper {
  padding: 10px 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile-left-container {
  margin-right: 15px;
}

.profile-menu-img {
  width: 5em;
  height: 5em;
}

.profile-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-username {
  font-size: 0.8em;
  color: #9a9ea4;
  font-weight: bold;
}

.hide-logout-loading {
  display: none;
}

.loading-icon {
  margin-left: auto;
  padding-inline: 5px;
}

.disable-click {
  pointer-events: none;
}