.chatWindow-container {
    width: -webkit-fill-available;
    display: flex;
    position: relative;
}

.loading-chatWindow {
    background-color: #2f343d;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.chatWindow {
    width: -webkit-fill-available;
    border: none;
}
