.chatWindow-container {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  display: flex;
  position: relative;
}

.loading-chatWindow {
  background-color: #2f343d;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hide-chatWindow {
  display: none;
}

.chatWindow {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  border: none;
}
