.anonymous-left-sidebar-wrapper {
    width: 20%;
    background-color: #2f343d;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.anonymous-sidebar-logo {
    width: 100%;
}

.anonymous-left-sidebar-title-container {
    padding:0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.anonymous-left-sidebar-title {
    font-family: 'source-sans-pro';
    color: white;
    font-size: 44px;
    font-weight: 100;
    margin: 10px 0px 40px 0px;
}

.anonymous-left-sidebar-content {
    background-color: rgb(255 255 255 / 10%);
    padding: 10px 20px;
    color: white;
    width: -webkit-fill-available;
}

.anonymous-left-sidebar-content p {
    margin: 10px 0px;
    font-size: 0.87em;
    text-transform: uppercase;
}

.login-redirect-screen {
    width: 100%;
    height: 80%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-redirect-button {
    padding: 10px;
    background-color: #1d74f5;
    color: white;
    cursor: pointer;
}