.activity-item-wrapper {
    color: #b1b2b3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.activity-event-time {
    color: #bbbbbbbd;
}

.activity-item-wrapper a {
    background-color: #f0f8ff17;
    padding: 1px 3px;
    color: #208cf5;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.activity-item-wrapper a:hover {
    background-color: #fbfbfb2f;
}

.activity-event-info {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}

.activity-item-vcs-badge {
    width: 1.3em;
    height: 1.3em;
    margin-right: 2px;
}

.activity-item-content {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}