.anonymous-left-sidebar-wrapper {
    width: 20%;
    background-color: #2f343d;
    min-height: 100%;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: fill-available;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.anonymous-sidebar-logo {
    width: 100%;
}

.anonymous-left-sidebar-title-container {
    padding:0px 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.anonymous-left-sidebar-title {
    font-family: 'source-sans-pro';
    color: white;
    font-size: 42px;
    font-weight: 100;
    margin: 20px 0px 40px 0px;
}

.anonymous-left-sidebar-content {
    background-color: rgb(255 255 255 / 10%);
    padding: 10px 20px;
    color: white;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.anonymous-left-sidebar-content p {
    margin: 10px 0px;
    font-size: 0.87em;
    text-transform: uppercase;
}

.sidebar-stat-number {
    font-size: large;
    letter-spacing: 1px;
}

.sidebar-stat {
    display: flex;
    align-items: center;
}

.sidebar-stat img {
    margin-right: 10px;
}